*{
    padding: 0;
    margin: 0;

}

body{
    background-color: #4271f0;
    text-align: center;
    align-items: center;
}

header{
    border-bottom: 0.5px solid #b3b2b2;
}

section:not(#res){
    border-bottom: 0.5px solid #b3b2b2;
    margin: 15vh;
    height: 15vh;
}

input{
    border: none;
    border-radius: 5px;
    width: 20vw;
    text-align: center;
}

button{
    border: none;
    width: 5vw;
    border-radius: 2px;   
    cursor: pointer;
    
}

.btn1, .btn2{
    margin-left: 1vw;
}


.btn1:hover, .btn2:hover{
    background-color: #2956d348;
}

#btn > span{
    width: 15vw;
    border-bottom: 1px solid #b3b2b2;
    
}

#btn{
    text-align: center;
    align-items: center;
}

.item{
    background-color: #2147af;
    margin:0  auto;
    color:#fff;
    width:80vw;
    
}

.item > span{
    margin-right: 35vw;
}

.feito{
    background-color:#3969ec;
}